{% extends 'base.html' %}

{% block body %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<h2>予約する</h2>
{% if error_message != '' %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Error
        </div>
    </div>
{% endif %}
<form class = "m-5" action="/" method = "POST">
    <div class="row pb-3 align-items-center">
        <div class="col-auto">
            <label for="name" class="col-form-label">Name : </label>
        </div>
        <div class="col-auto">
            <input type="text" id="name" class="form-control" aria-describedby="passwordHelpInline" name="name" maxlength = "10" required>
        </div>
    </div>
    <div class=" pb-3">
        <label label for = "rsv_date">利用日 : </label>
        <input type="date" name="rsv_date" required>
    </div>
    <div class=" pb-3">
        <label label for = "date_start">開始時間 : </label>
        <input type="time" name="date_start" value = "13:00"  required>
    </div>
    <div class=" pb-3">
        <label label for = "date_end">終了時間 : </label>
        <input type="time" name="date_end" value = "15:00" required>
    </div>
    <div class=" pb-3">
        <label for = "detail">詳細 (任意)</label>
        <input type = "text" class = "form-control" name = "detail" maxlength = "50">
    </div>
    <div class="row pb-3 align-items-center">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Password : </label>
        </div>
        <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" name = "pw" maxlength = "20" required>
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Must be 1-20 characters long.
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">予約</button>
</form>
<h2>予約一覧</h2>
<table class="table table-sm">
    <tr class="table-light" align = "center">
        <th align = "center">予約ID</th>
        <th>予約者</th>
        <th>利用日</th>
        <th>利用開始時刻</th>
        <th>利用終了時刻</th>
        <th>詳細</th>
        <th>取り消し</th>
    </tr>
    {% if posts != [] %}
        {% for post in posts %}
            <tr align = "center">
                <td>{{ post.id }}</td>
                <td>{{ post.name }}</td>
                <td>{{ post.rsv_date.date() }}</td>
                <td>{{ post.date_start.time() }}</td>
                <td>{{ post.date_end.time() }}</td>
                <td><a class="btn btn-secondary btn-sm" href="/detail/{{ post.id }}" role="button">Detail</a></td>
                <td><a class="btn btn-danger btn-sm" href="/cancel/{{ post.id }}" role="button">Cancel</a></td>
            </tr>
        {% endfor %}
</table>
    {% else %}
    </table>
        <p align = "center">表示する予約はありません</p>
    {% endif %}
{% endblock %}