{% extends 'base.html' %}

{% block body %}

<h2>予約する</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
        {% if category == 'error' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Error
                </div>
            </div>

        {% else %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                Success
                </div>
            </div>
        {% endif %}

    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<form class = "m-5" action="/" method = "POST">
    <div class="row pb-3 align-items-center">
        <div class="col-auto">
            <label for="name" class="col-form-label">Name : </label>
        </div>
        <div class="col-auto">
            <input type="text" id="name" class="form-control" aria-describedby="passwordHelpInline" name="name" maxlength = "10" required>
        </div>
    </div>
    <div class=" pb-3">
        <label label for = "rsv_date">利用日 : </label>
        <input type="date" name="rsv_date" required>
    </div>
    <div class=" pb-3">
        <label label for = "date_start">開始時間 : </label>
        <input type="time" name="date_start" value = "13:00"  required>
    </div>
    <div class=" pb-3">
        <label label for = "date_end">終了時間 : </label>
        <input type="time" name="date_end" value = "15:00" required>
    </div>
    <div class=" pb-3">
        <label for = "detail">詳細 (任意)</label>
        <input type = "text" class = "form-control" name = "detail" maxlength = "50">
    </div>
    <div class="row pb-3 align-items-center">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Password : </label>
        </div>
        <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" name = "pw" maxlength = "20" required>
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Must be 1-20 characters long.
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">予約</button>
</form>
<h2>予約一覧</h2>
<table class="table table-sm">
    <tr class="table-light" align = "center">
        <th align = "center">予約ID</th>
        <th>予約者</th>
        <th>利用日</th>
        <th>利用開始時刻</th>
        <th>利用終了時刻</th>
        <th>詳細</th>
        <th>取り消し</th>
    </tr>
    {% if posts != [] %}
        {% for post in posts %}
            <tr align = "center">
                <td>{{ post.id }}</td>
                <td>{{ post.name }}</td>
                <td>{{ post.rsv_date.date() }}</td>
                <td>{{ post.date_start.time() }}</td>
                <td>{{ post.date_end.time() }}</td>
                <td><a class="btn btn-secondary btn-sm" href="/detail/{{ post.id }}" role="button">Detail</a></td>
                <td><a class="btn btn-danger btn-sm" href="/cancel/{{ post.id }}" role="button">Cancel</a></td>
            </tr>
        {% endfor %}
</table>
    {% else %}
    </table>
        <p align = "center">表示する予約はありません</p>
    {% endif %}
{% endblock %}