{% extends 'base.html' %}

{% block body %}
<div class="m-5">
    <form class = "m-5" action="/" method = "POST">
        <div class="row pb-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Name : </label>
            </div>
            <div class="col-auto">
                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" name="username" maxlength="10" required>
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Must be 1-10 characters long.
                </span>
            </div>
        </div>
        <div class="row pb-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Password : </label>
            </div>
            <div class="col-auto">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" name="password" minlength="4" maxlength="20" required>
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Must be 4-20 characters long.
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}